.login {
  color: grey;
  text-align: center;
  margin: auto;
  margin-top: 80px;
}

.login form {
  margin-bottom: 15px;
}

.login .memo {
  margin: auto;
  color: gray;
  margin-top: 25px;
  font-size: 15px;
}

.login .memo a{
 color: gray;
 text-decoration: none;
 
}