:root {
  --backround-color: #f7f7f7;
  --defult-font: "Lato", sans-serif;
}

body {
  font-family: var(--defult-font);
  background-color: var(--backround-color);
  background-attachment: fixed;
  background-image: linear-gradient(
    133deg,
    rgba(254, 74, 75, 0.15) 5%,
    rgba(253, 157, 166, 0.15) 35%,
    rgba(106, 0, 206, 0.15)
  );
}

.ganbare {
  font-family: "Cherry Bomb One", system-ui;
  font-style: normal;
  font-size: 50px;
  color: plum;
}

.main-title {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: plum;
  text-decoration-thickness: 2px;
}

.hero {
  background-color: white;
  border: 80px;
  border-radius: 20px;
  max-width: 700px;
  margin: 90px auto;
  padding: 40px;
  text-align: center;
}

.hero h1 {
  font-family: var(--defult-font);
  font-weight: 500;
  margin: 0;
  font-size: 30px;
  color: #8e7f93;
}

.btn-branding {
  background-color: #e8dbee;
  border-radius: 4px;
  color: white;
  border: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.btn-branding:hover {
  background-color: plum;
  color: white;
}

.content-container {
  background-color: white;
  border: 80px;
  border-radius: 20px;
  max-width: 700px;
  margin: 90px auto;
  padding: 40px;
  text-align: center;
  color: #8e7f93;
}

/* .content-container p {
  font-size: large;
  color: #8e7f93;
} */
