.container-fluid {
    background-color: white;
    color: gray;
    text-align: center;
    padding-top: 50px;
}

.container-fluid h2{
    margin-bottom: 50px;
}

.part {
    margin-bottom: 40px;
}

.q-text {
    font-weight: bold;
}